body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    /*use when nav bar is fixed*/
    //padding-top: 30px;
    //margin-left: 10px;
    //margin-right: 10px;
    //margin-bottom: 15px;
}

body > .container {
    padding: 35px 0px 0px 0px;
}

body > .container-fluid {
    padding: 60px 10px 0px 10px;
}

.badge {
	//-webkit-border-radius: 0 !important;
    //-moz-border-radius: 0 !important;
    //border-radius: 0 !important;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput {
    width: 200px;
}



/* --------------------------------------
   Footer
   -------------------------------------- */

footer {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}


/* --------------------------------------
   Show more, show less 
   -------------------------------------- */

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

/* --------------------------------------
   Vertical space - between rows
   -------------------------------------- */


.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }