body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    /*use when nav bar is fixed*/
    //padding-top: 30px;
    //margin-left: 10px;
    //margin-right: 10px;
    //margin-bottom: 15px;
}

body > .container {
    padding: 35px 0px 0px 0px;
}

body > .container-fluid {
    padding: 60px 10px 0px 10px;
}

.badge {
	//-webkit-border-radius: 0 !important;
    //-moz-border-radius: 0 !important;
    //border-radius: 0 !important;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput {
    width: 200px;
}



/* --------------------------------------
   Footer
   -------------------------------------- */

footer {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}


/* --------------------------------------
   Show more, show less 
   -------------------------------------- */

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}